body {background-color: beige;}
h1 {text-align: center;}
div {display: flex;
    justify-content: center;}
img {width: 50%S}
p, h2{margin-left: 20%;
margin-right: 10%}
p {font-size: 30px}
h2{font-size: 40px}